---
import Proyecto from "@components/Proyecto.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

import proyectosData from "@content/participantes/project.yml";
import areaData from "@content/areas/area.yml";


interface Props {
  proyectos: [];
}

export async function getStaticPaths() {
  const agrupadosPorArea = proyectosData.proyectos.reduce((acc, proyecto) => {
    const { areaId } = proyecto;
    if (!acc[areaId]) {
      acc[areaId] = [];
    }
    acc[areaId].push(proyecto);
    return acc;
  }, {});

  return Object.entries(agrupadosPorArea).map(([areaId, proyectos]) => ({
    params: { id: parseInt(areaId) },
    props: { proyectos },
  }));
}

const { id } = Astro.params;
const { proyectos } = Astro.props;
const areaName = areaData.areas.find((area) => area.id == id);
---

<BaseLayout>
  <h3>{areaName.name}</h3>
  <ul>
    {
      proyectos.map(({ distrito, ue, proyecto, area, ubicacion }) => (
        <li>
          <Proyecto
            distrito={distrito}
            ue={ue}
            proyecto={proyecto}
            area={area}
            ubicacion={ubicacion}
          />
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  h3 {
    margin: 15px 0px;
    font-size: var(--text-20);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: var(--green-900);
  }

  li {
    margin: 15px 10px;
  }
</style>